
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="shoppingCart-content btn btn-block">
    <div class="navbar-static-top" style="">
        @Html.Partial("_ShoppingCartPartial")
    </div>
</div>
@RenderBody()

