@model IEnumerable<Portal.Entities.Product>

@{
    ViewBag.Title = "Store Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store Index</h2>
<div class="form-group store-container">
    @foreach(var product in Model)
    {
        @Html.Partial("_ProductPartial", product)
    }
</div>
