
<div>
    <p class="lead">Cart Items</p>    
    <div class="list-group">
        <a href="#" class="list-group-item shoppingCart-item">cart item 1</a>
        <a href="#" class="list-group-item shoppingCart-item">cart item 2</a>
        <a href="#" class="list-group-item shoppingCart-item">cart item 3</a>
    </div>
</div>
